.advantages {
    min-height: 750px;
    padding: 0 20px;
    background: url(../../img/advantages.jpg) center (center / cover) no-repeat;
    position: relative;
    

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    &__titles {
        
        padding-top: 124px;
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }

    &__subtitle {
        display: none;
        font-size: 16px;
        font-weight: 400;
        color: #ffffff;

        span {
            font-size: 20px;
            color: #ffffff;
        }
    }

    &__points {
        display: flex;
        flex-direction: column;
        max-width: 360px;
        margin-top: 111px;

        &-item {
            margin-bottom: 55px;
            display: flex;
            position: relative;

            div {
                margin-left: 10px;
            }

            &::before {
                position: absolute;
                content: "";
                background: url(../../icons/bracket-2.svg) center (center / cover) no-repeat;
                display: block;
                width: 40px;
                height: 155px;
                left: -30px;

            }
        }

        &-title {
            font-size: 18px;
            font-weight: 700;
            line-height: 24px;
            color: #ffffff;
        }

        &-text {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            color: #ffffff;
            margin-top: 7px;
        }
    }

    &__video {
        background: url(../../img/advantages_video.jpg) center (center / cover) no-repeat;
        margin-top: 58px;
        width: 50%;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    &__play {
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 100%;
        width: 120px;
        height: 120px;
        background-color: #ba9e6c;
        z-index: 9;
        transition: .3s all;
        
        &::before {
            content: '';
            display: block;
            position: absolute;
            right: -4px;
            left: -4px;
            top: -4px;
            bottom: -4px;
            border: 5px solid rgba(216, 196, 159, 0.38);
            border-radius: 100%;
        }
        &::after {
            content: '';
            display: block;
            width: 46px;
            height: 53px;
            background: url(../../icons/triangle.svg) center (center / cover) no-repeat;
            position: absolute;
            left: 55%;
            top: 50%;
            transform: translate(-50%, -50%);
            
        }
    }

    &__look {
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        color: #fff;
        margin-top: 180px;
        text-align: center;
        line-height: 18px;
        
    }

}

#modalka {
    display: block;
    z-index: 99;
}